@import "fonts"
@import "libs"
@import "vars"
@import "media"
// @import "media-queries"

*
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box
	outline: 0 !important
	box-shadow: none
	&:before, &:after
		-webkit-box-sizing: border-box
		-moz-box-sizing: border-box
		box-sizing: border-box

*::-webkit-input-placeholder
	color: #999
	opacity: 1
*::-webkit-scrollbar
	display: none
*:-moz-placeholder
	color: #999
	opacity: 1

*::-moz-placeholder
	color: #999
	opacity: 1

*:-ms-input-placeholder
	color: #999
	opacity: 1

//body input:focus:required:invalid,
//body textarea:focus:required:invalid
//	color: #777
//body input:required:valid,
//body textarea:required:valid
//	color: #777

html, body
	min-width: 270px
	height: 100vh
	@include xl
		min-height: 580px
html
  font-size: 10px

body
	font-size: 1.6rem
	line-height: 2
	overflow-x: auto
	background-color: #fff
	position: relative
	color: #000
	font-family: $default-font
	margin: 0

	a
		text-decoration: none
		&:hover
			text-decoration: none
	ul
		list-style: none
	img
    	max-width: 100%
    	height: auto

.fixed
	position: fixed
	width: 100%

.preloader
	//display: none
.preloader
	height: 100%
	width: 100%
	background-color: $dark
	z-index: 200
	display: flex
	align-items: center
	position: fixed
	.sk-wandering-cubes
		$animationDuration: 1.8s

		width: 4em
		height: 4em
		position: relative
		margin: auto

		.sk-cube
			background-color: $accent
			width: 1em
			height: 1em
			position: absolute
			top: 0
			left: 0
			animation: sk-wandering-cubes $animationDuration ease-in-out #{-$animationDuration} infinite both


		.sk-cube-2
			animation-delay: (-$animationDuration / 2)



@keyframes sk-wandering-cubes
	$cubeDistance: 2em
	0%
		transform: rotate(0deg)

	25%
		transform: translateX($cubeDistance) rotate(-90deg) scale(0.5)

	50%
		transform: translateX($cubeDistance) translateY($cubeDistance) rotate(-179deg)

	50.1%
		transform: translateX($cubeDistance) translateY($cubeDistance) rotate(-180deg)

	75%
		transform: translateX(0) translateY($cubeDistance) rotate(-270deg) scale(0.5)

	100%
		transform: rotate(-360deg)







.logo-ybs
	display: none
.services-icons
	display: none

button
	border: none
	cursor: pointer


//.horizontal-content
//	position: relative
.first-banner
	display: flex
	align-items: center

header
	position: fixed
	z-index: 10
	//background: transparent
	display: flex
	width: 100%
	justify-content: space-between
	height: 84px
	border-bottom: 1px solid #7d7d7d
	@include lg
		height: 74px
	@include md
		height: 60px
	//@include sm
	//	height: 6rem

.logo
	width: 8.4rem
	background-color: $accent
	position: fixed
	z-index: 100
	height: auto
	left: 0
	line-height: 0
	//@include xl
	//	width: 10rem
	//@include lg
	//	width: 9rem
	@include xl
		width: 6.4rem
	@include lg
		//height: 200px
		width: 6.4rem
	@include md
		width: 5rem
	@include sm
		width: 4rem
.logo-wrap
	//position: relative
	width: inherit
	height: inherit
	img
		color: $dark
		width: 100%
		height: auto
		//position: absolute
		//left: 0
		//top: 0
		//transform: rotate(-90deg)


.lang-top
	display: flex
	align-items: center
	margin-left: 10rem
	height: 100%
	@include lg
		margin-left: 10rem
	@include sm
		margin-left: 7rem
	@include xs
		margin-left: 6rem
	.one-lang
		height: 100%
		padding: 0 6px
		font-family: $nav-font
		color: #7d7d7d
		display: flex
		align-items: center
		background: transparent
		@include lg
			padding: 0 10px
		@include xs
			padding: 0 4px
	.one-lang.active
		color: $accent
.menu-right
	display: flex
	align-items: center
	width: 70%
	justify-content: flex-end
	@include rwd(1600)
		width: 80%
	@include xl
		width: 90%
	@include lg
		width: 98%
.myMenu-list
	display: flex
	width: 100%
	justify-content: space-between
	align-items: center
	font-family: $nav-font
	text-transform: uppercase
	font-size: 18px
	@include xl
		font-size: 16px
	@include lg
		display: none
	//@include md
	//	display: none
	li
		padding: 0 36px
		@include rwd(1300)
			padding: 0 30px
		@include xl
			padding: 0 20px
		@include lg
			padding: 0 16px
		a
			color: #7d7d7d
	.myMenu-item
		white-space: nowrap
	.myMenu-item.active
		position: relative
		&:before
			content: ''
			width: 100%
			height: 2px
			background-color: $accent
			position: absolute
			top: 18px
			left: 0
			//transition: all .35s ease-in-out
			//transition: 1s cubic-bezier(0, 0, 1, 1) 500ms
			//animation-duration: 3s
			//animation-name: slidein
			//animation-direction: normal
			//animation-timing-function: ease-in-out
			//animation: slide-in 0.5s forwards
			@include xl
				top: 16px
			@include lg
				top: 12px
.hmbrgr-menu
	display: none
	@include lg
        display: inline-block
        overflow: visible
        margin: 0
        padding: 15px 20px
        cursor: pointer
        transition-timing-function: linear
        transition-duration: .15s
        transition-property: opacity,filter
        text-transform: none
        color: inherit
        border: 0
        background-color: transparent
	@include xs
		padding: 15px 10px
	.hamburger-box
		position: relative
		display: inline-block
		width: 40px
		height: 24px
		.hamburger-inner
            position: absolute
            width: 40px
            height: 2px
            transition-timing-function: ease
            transition-duration: .15s
            transition-property: transform
            background-color: $accent
            top: 50%
            display: block
            //margin-top: -2px
            &:before
                content: ''
                display: block
                position: absolute
                width: 40px
                height: 2px
                transition-timing-function: ease
                transition-duration: .15s
                transition-property: transform
                background-color: $accent
                transition: bottom .08s ease-out 0s,top .08s ease-out 0s,opacity 0s linear
                top: -10px
            &:after
                content: ''
                display: block
                position: absolute
                width: 40px
                height: 2px
                transition-timing-function: ease
                transition-duration: .15s
                transition-property: transform
                background-color: $accent
                transition: bottom .08s ease-out 0s,top .08s ease-out 0s,opacity 0s linear
                bottom: -10px
.hmbrgr-menu.open
    z-index: 19
    &:before
        content: ''
        display: block
        background-color: #fff
        height: 40rem
        width: 20rem
        position: absolute
        right: 9rem
        top: 0
        //transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0)
        @include sm
            right: 80px
    .hamburger-inner
        &:before
            content: ''
            display: block
            top: 0
            transition: bottom .08s ease-out,top .08s ease-out,opacity 0s linear .08s
            opacity: 0
        &:after
            content: ''
            display: block
            bottom: 0
            transition: bottom .08s ease-out,top .08s ease-out,opacity 0s linear .08s
            opacity: 0
.myMenu-list.myMenu-mob
    display: flex
    flex-direction: column
    justify-content: center
    position: fixed
    top: 60px
    z-index: 20
    margin: 0
    right: 9rem
    width: 20rem
    padding-left: 0
    //transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0)
    @include sm
        right: 80px
    .myMenu-item
        padding: 10px 24px
        &:before
            top: 24px


.call
	width: 120px
	background-color: $accent
	height: 100%
	display: flex
	align-items: center
	justify-content: center
	color: $dark
	font-size: 24px
	@include lg
		width: 9rem
	@include sm
		width: 8rem
	@include xs
		width: 6rem




.first-banner
	.person-img_left
		background: url(../img/valya_black.png) no-repeat 0 100%
		width: 30%
		height: 90%
		background-size: contain
		position: absolute
		bottom: -2%
		left: 5%
		@include rwd(1600)
			left: 2%
			bottom: -3%
			width: 40rem
			background-position: 100% 100%
		@include rwd(1300)
			height: 85%
		@include xl
			height: 90%
			bottom: -9%
			width: 30%
			background-size: cover
			background-position: right top
			left: 0
		@include lg
			width: 40%
			left: 0
			height: 80%
			background-position: right top
		@include md
			background-position: right top
			bottom: -8%
			left: 0
			width: 40%
		@include sm
			bottom: 0
			width: 40%
			height: 70%
		@include xs
			display: none
	.person-img_right
		background: url(../img/DSC_2229.png) no-repeat 0 100%
		width: 30%
		height: 90%
		right: 5%
		bottom: 0
		position: absolute
		background-size: contain
		@include rwd(1600)
			//right: 5%
			//bottom: -2%
			background-position: 100% 100%
			width: 44rem
		@include rwd(1300)
			height: 85%
		@include xl
			height: 90%
			width: 30%
			bottom: -8%
			background-size: cover
			right: 0
			background-position: left top
		@include lg
			width: 40%
			height: 80%
		@include md
			bottom: -7%
			width: 40%
		@include sm
			bottom: 0
			width: 40%
			height: 70%
		@include xs
			display: none

.first-banner_content
	margin-left: 36%
	padding-bottom: 10rem
	padding-top: 13rem
	//@include rwd(1600)
	//	margin-left: 34%
	//@include rwd(1300)
	//	margin-left: 38%
	//	padding-bottom: 5rem
	@include lg
		margin-left: 36%
		padding-bottom: 4rem
		padding-top: 0
	@include md
		margin-left: 40%
		padding-bottom: 8rem
	@include sm
		margin-left: 33%
		padding-bottom: 20rem
	@include xs
		padding-bottom: 8rem
		margin-left: 28%
	h1
		font-family: $header-font
		font-size: 100px
		color: #fff
		font-weight: normal
		line-height: normal
		margin: 0
		@include rwd(1300)
			font-size: 84px
		@include xl
			font-size: 70px
		@include lg
			font-size: 56px
		@include md
			font-size: 44px
		@include sm
			font-size: 36px
		@include xs
			font-size: 44px
	.first-banner_descript
		font-family: $default-font
		font-size: 22px
		color: #fff
		padding-top: 24px
		margin: 0
		//@include rwd(1300)
		//	font-size: 18px
		@include lg
			//width: 80%
			font-size: 18px
		@include md
			font-size: 16px
			width: 60%
		@include sm
			width: 80%

//.top-cover
//	//display: none
//	@include sm
//		background-color: #fff
//		height: 13rem
//		width: 100%
//		z-index: 100
//		position: fixed
//		top: 0
//.section-scroll_wrapper
//	//padding-top: 13rem
//	overflow-y: scroll
.wrap-section_content
	margin: 13rem auto 8.4rem
	height: calc(100vh - 21.4rem)
	width: 80%
	min-height: 300px
	overflow-y: scroll
	overflow-x: hidden
	//z-index: 10
	@include lg
		margin: 12rem auto 7.4rem
		height: calc(100vh - 19.4rem)
	@include md
		margin: 10rem auto 6rem
		height: calc(100vh - 16rem)

.section_content
	margin-left: 20%
	//padding-top: 3rem
	width: 60%
	//box-sizing: content-box
	//@include rwd(1300)
	//	width: 50%
	//@include xl
	//	//padding-top: 9rem
	@include lg
		width: 80%
		margin-left: 14%
	@include md
		margin-left: 16%

	@include sm
		//padding-top: 0
		margin-left: 0
		width: 96%
.section_header
	//padding-top: 2rem
	font-family: $header-font
	font-size: 64px
	font-weight: normal
	line-height: normal
	color: $accent
	margin: 0
	@include xl
		font-size: 48px
	@include md
		font-size: 36px
	@include sm
		font-size: 28px
		padding-left: 1rem
	@include xs

		font-size: 26px
		line-height: 1.5
.section_descript
	font-family: $default-font
	font-size: 18px
	color: #000
	padding-top: 24px
	margin: 0
	@include lg

	@include md
		padding-top: 18px
	@include sm
		font-size: 16px
		padding-left: 1rem
	@include xs
		//padding-left: 1rem
.services_content
	width: 80%
	margin-left: 10%
	padding: 2rem 0 1rem 0
	//margin-bottom: 84px
	@include rwd(1400)
		//padding: 2rem 0 8.4rem
	@include xl
		width: 90%
		margin: 0 auto
	@include lg
		width: 96%
	@include md
		//padding: 2rem 0
	@include sm
		width: 70%
	@include xs
		//padding: 1rem 0
	.one-service
		display: flex
		align-items: center
		padding-bottom: 2rem
		//@include rwd(1400)
		//	padding-bottom: 0
		@include xl
			padding: 0 8px 10px
		@include lg
			//padding: 0 8px
		.service-icon
			width: 52px
			height: 52px
			svg
				width: 52px
				height: 52px
				@include lg
					width: 40px
					height: 40px
			@include lg
				width: 42px
				height: 42px
		.service-title
			font-family: $nav-font
			font-size: 18px
			padding-left: 2rem
			color: #7d7d7d
			margin: 0
			line-height: 1.4
			@include xl
				font-size: 16px
				padding-left: 1.4rem
			@include lg
				padding-left: 1rem
			@include md
				font-size: 14px
.works_content
	width: 80%
	//height: 100%
	//min-height: 480px
	//padding: 10rem 0
	//margin: 0 auto
	margin: 10rem 0 10rem 10%
	display: flex
	//justify-content: center
	height: calc(100vh - 20rem)
	position: relative
	overflow-y: scroll
	@include lg
		//width: 80%
		//margin-left: 10%
		flex-direction: column
	@include sm
		//width: 70%
		margin-left: 42px
		//height: auto

	.first-work
		min-height: 40rem
		height: 100%
		width: 40%
		//background: url(../img/urb_onework.jpg) $dark no-repeat 50% 50%
		//background-blend-mode: overlay
		//background-size: cover
		//background-color: rgba(50, 50, 50, .6)
		overflow: hidden
		position: relative
		&:before
			content: ''
			background: url(../img/urb_onework.jpg) $dark no-repeat 50% 50%
			background-blend-mode: overlay
			background-size: cover
			background-color: rgba(50, 50, 50, .6)
			width: 100%
			height: 100%
			position: absolute
			transition: all .3s ease-in-out
		&:hover
			&:before
				background-color: rgba(50, 50, 50, .8)
				transform: scale(1.3)




		//.work-image
		//	height: 100%
		//	width: 100%
		//	background-size: cover
		//	position: relative
		//	img
		//		height: 100%
		//		width: auto
		//		position: absolute
		&:hover
			background-color: rgba(50, 50, 50, .8)
			cursor: pointer
			//background-size: 300% auto


		@include lg
			width: 100%
			height: 40%
			min-height: 18rem
		@include sm
			//width: 60%
	.next-works
		//min-height: 40rem
		width: 60%
		//height: 100%
		display: flex
		flex-direction: column
		@include lg
			width: 100%
			//height: auto
			//min-height: 50rem
		@include sm
			height: auto
		.top-works
			height: 50%
			width: 100%
			display: flex
			@include lg
				height: 40%
				min-height: 18rem
			@include sm
				flex-direction: column
				height: 100%
			.square-work
				//min-height: 25rem
				height: 100%
				width: 400px
				background-color: $accent
				color: #000
				@include sm
					width: 100%
					min-height: 10rem
			.rectangle-work

				//min-height: 25rem
				width: 100%
				height: 100%
				overflow: hidden
				position: relative
				&:before
					content: ''
					background: url(../img/sline_onework.jpg) $dark no-repeat 50% 50%
					background-blend-mode: overlay
					background-size: cover
					background-color: rgba(50, 50, 50, .6)
					width: 100%
					height: 100%
					position: absolute
					transition: all .3s ease-in-out
				&:hover
					&:before
						background-color: rgba(50, 50, 50, .8)
						transform: scale(1.3)
				@include sm
					min-height: 20rem
		.bottom-works
			height: 50%
			width: 100%
			display: flex
			@include lg
				height: 40%
				min-height: 18rem
			@include sm
				flex-direction: column
				height: 100%
			.rectangle-work
				height: 100%

				width: 100%
				overflow: hidden
				position: relative
				&:before
					content: ''
					background: url(../img/chocolabs_onework.jpg) $dark no-repeat 50% 50%
					background-blend-mode: overlay
					background-size: cover
					background-color: rgba(50, 50, 50, .6)
					width: 100%
					height: 100%
					position: absolute
					transition: all .3s ease-in-out
				&:hover
					&:before
						background-color: rgba(50, 50, 50, .8)
						transform: scale(1.3)

				@include sm
					min-height: 20rem
			.square-work
				//min-height: 25rem
				height: 100%
				width: 400px
				background-color: #cecece
				@include sm
					width: 100%
					min-height: 18rem




.work-descript_wrapper
	display: flex
	flex-direction: column
	justify-content: center
	//&:last-child
	//	align-items: end
.works-header
	font-family: $header-font
	color: $dark
	font-size: 40px
	margin: 0
	padding: 1rem
	line-height: 1.6
	@include lg
		font-size: 32px
	@include sm
		font-size: 28px
.onework-header
	font-family: $default-font
	font-size: 24px
	line-height: 1.4
	color: #fff
	padding: 1rem 0 1rem 1rem
	margin: 0
	z-index: 1
	@include lg
		font-size: 20px
		padding: 1rem 0 5px 1rem
	@include sm
		font-size: 16px
.works-descript
	color: #fff
	font-size: 18px
	padding: 1rem 1rem 0 1rem
	margin: 0
	opacity: .8
	@include lg
		font-size: 14px
		padding: 5px 1rem 0
//.work-link_wrapp
//	display: flex
//	align-items: flex-end
//	width: 100%
.work-link
	color: #fff
	font-family: $default-font
	font-size: 18px
	text-decoration: underline
	padding: 0 0 2rem 1rem
	opacity: .8
	@include lg
		font-size: 14px
		padding-bottom: 1rem



.team-descript
	color: #000
	@include lg
		width: 90%
	@include md
		width: 80%
	@include sm
		width: 90%

.team_content
	width: 80%
	margin-left: 10%
	padding: 4rem 0 8rem
	justify-content: space-between
	//align-items: center
	@include xl
		padding: 4rem 0 4rem
		width: 90%
	@include lg
		padding: 2rem 0 2rem
	@include md
		margin: 0 auto
		//width: 60%
		justify-content: space-around
		padding: 0
	@include sm
		padding-bottom: 4rem
	@include xs
		justify-content: center

.one-person
	display: flex
	flex-direction: column
	align-items: center
	@include md
		margin: 0 6px
	span
		font-size: 14px
		font-family: $default-font
		line-height: normal
		text-align: center
		color: #7d7d7d
		@include lg
			font-size: 12px
.team_avatar
	background-color: #cecece
	width: 88px
	height: 88px
	border-radius: 50%
	img
		border-radius: 50%
	@include lg
		width: 64px
		height: 64px
	@include md
		margin: 1rem 2.7rem 0


.team-title
	text-align: center
	font-size: 18px
	font-family: $nav-font
	color: #7d7d7d
	margin: 0
	padding-top: 6px
	@include xl
		font-size: 16px
	@include lg
		line-height: 1.5

.team-photo
	position: absolute
	right: -23%
	top: 15%
	width: 46%
	height: 70%
	background-color: #ccc
	@include xl
		height: 60%
		top: 20%
	@include md
		display: none
.contacts_content
	width: 80%
	margin: 0 auto
	@include md
		margin-left: 14%
		width: 76%
	@include sm
		margin-left: 0
		width: 100%
.contacts-left
	@include sm
		padding-top: 0
		margin-left: 14%
.contacts_descript
	color: #000
	font-family: $nav-font
	font-size: 24px
	padding: 2rem 0

	p
		margin: 0 1rem 1rem
	@include md
		font-size: 18px
	@include sm
		padding: 1rem 0 0 0
		font-size: 17px
		display: flex
		width: 90%
		flex-wrap: wrap
	@include xs
		padding-left: 1rem
//.contacts-right
//	@include sm
//		width: 60%

.callback-form
	width: 100%
	min-width: 254px
	max-width: 480px
	height: auto
	display: flex
	flex-direction: column
	justify-content: center
	align-items: center
	background-color: $accent
	margin: 0 auto
	padding: 30px 20px
	@include lg
		//padding: 20px
	@include md
		padding: 20px
	@include sm
		padding: 14px 20px

.form-header
	font-family: $nav-font
	color: $dark
	font-size: 24px
	text-align: center
	margin: 0
	@include lg
		font-size: 18px
	@include md


    //font-weight: normal
.error-field
	display: block
	text-align: center
	font-size: 12px
	line-height: 14px
	margin-bottom: 10px
	color: #dd4942
.contacts_field
  margin-bottom: 25px
  width: 100%
  display: flex
  justify-content: center

.contacts_field-input
    display: block
    background-color: #fff
    max-width: 400px
    width: 100%
    padding: 12px 14px 10px 14px
    font-size: 14px
    transition: all .15s
.button-wrap
    display: flex
    justify-content: flex-end
    max-width: 400px
    //margin-top: 3rem
    @include rwd(1400)
        width: 100%
.call-request
	padding: 1rem 0 1rem 1.8rem
	background: transparent
	font-size: 18px
	font-family: $nav-font
	color: $dark
	text-transform: uppercase
	@include sm
		padding: 0 0 0 1.8rem


footer
	position: fixed
	z-index: 10
	background: transparent
	bottom: 0
	height: 84px
	border-top: 1px solid #7d7d7d
	width: 100%
	display: flex
	align-items: center
	justify-content: space-between
	flex-direction: row-reverse
	@include lg
		height: 74px
	@include md
		height: 60px
	@include sm
		flex-direction: column
		border-top: none
	.rights
		color: #7d7d7d
		font-size: 18px
		padding: 0 52px
		@include lg
			padding: 0 30px
			font-size: 14px
		@include sm
			margin: 0
			background-color: $accent
			color: $dark
			width: 100%
			text-align: center
		@include xs
			font-size: 12px

	.socials
		width: 47rem
		background-color: $accent
		height: 100%
		display: flex
		align-items: center
		justify-content: space-around
		@include lg
			width: 40rem
		@include sm
			width: 100%
		.social-link
			color: $dark
			font-size: 24px
			@include sm
				font-size: 18px

.callback-modal
	display: none
.callback-modal.active
	display: block
	position: absolute
	background-color: $dark
	width: 100%
	height: 100%
	z-index: 100
	animation: fadein .2s ease-in-out
.callback-modal_content
	//position: relative
	height: 100%
	//margin: 0 auto
	width: 100%
	display: flex
	align-items: center
	justify-content: center
	.callback-form
		position: relative
		//position: absolute
		//top: 30%
		width: 50%
		.close-callback
			position: absolute
			top: 6px
			right: 6px
			color: $dark
			background: transparent


.onework-modal
	display: none
	//animation: fade0ut 1s ease-in-out
.onework-modal.active
	display: flex
	align-items: center
	justify-content: center
	position: absolute
	z-index: 100
	//background-color: #fff
	overflow-y: scroll
	overflow-x: hidden
	animation: fadein .2s ease-in-out

	.close-onework
		background: transparent
		left: 92%
		top: 10rem
		font-size: 18px
		position: fixed
		color: #fff
		opacity: .6
//@include sm
//	left: 92%

@keyframes fadein
	0%
		opacity: .2
	100%
		opacity: 1

@keyframes fadeout
	0%
		opacity: 1
	100%
		opacity: .2

@keyframes sizeup
	0%
		transform: scale(.8)
	100%
		transform: scale(1)



.one-project
	background-color: #fff
	height: 100%
	width: 100%
	overflow-y: scroll
	animation: sizeup .1s ease-in-out
.project-content
	width: 100%
	margin: 0 auto

	.section_content
		padding-top: 4rem

.project-banner
	height: 30rem
	width: 80%
	background-color: #eee
	margin: 2rem auto
	@include sm
		width: 100%
.task-content
	@include sm
		width: 96%
		margin: 0 auto
.project-subhead
	font-family: $header-font
	color: $dark
	font-size: 40px
	padding-bottom: 2rem
	margin: 0 auto
	width: 60%
	font-weight: normal
	@include md
		font-size: 36px

	@include sm
		font-size: 28px
		margin: 0
		padding-left: 1rem
.task-descript
	margin: 0 auto 4rem
	font-size: 18px
	width: 60%
	@include lg
		width: 80%
	@include sm
		padding-left: 1rem
		width: 100%
		font-size: 16px
.project-technical
	width: 100%
	padding: 6rem 0
	background-color: #eee
	.project-subhead
		color: $accent
	.technical-wrapper
		display: flex
		justify-content: space-between
		align-items: center
		width: 80%
		margin: 0 auto
		@include lg
			width: 96%
		@include md
			width: 100%
			flex-wrap: wrap
			justify-content: center
		@include sm
			justify-content: normal
		.one-tip
			padding: 0 1rem 1rem
			.tech-icon
				width: 84px
				height: 84px
				background-color: #fff
				@include lg
					width: 64px
					height: 64px
				@include md
					width: 54px
					height: 54px
			@include sm
				padding: 0 1rem 1rem 4rem
			p
				margin: 0
				font-family: $nav-font
				font-size: 22px
				padding: 1rem 0
				@include xl
					font-size: 18px
					line-height: normal
				@include md
					font-size: 16px
.project-functions
	width: 100%
	padding: 6rem 0
	.function-wrapper
		display: flex
		//justify-content: space-between
		//align-items: center
		width: 80%
		margin: 0 auto
		@include sm
			width: 90%
		.one-function
			display: flex
			justify-content: space-between
			padding: 2rem 4rem
			border-bottom: 2px solid #eee
			@include sm
				padding: 2rem 1rem
			.one-function_wrap
				display: flex
				align-items: center
				flex-direction: row
				.function-icon
					width: 40px
					height: 40px
					background-color: #eee
				.function-descript
					font-family: $nav-font
					font-size: 18px
					margin: 0
					padding-left: 2rem
			.try-button
				background-color: transparent
				border: 2px solid $accent
				color: $accent
				font-size: 16px
				font-family: $nav-font
				//text-transform: uppercase
				line-height: normal
.project-screens
	padding: 6rem 0
	width: 90%
.project-link
	width: 100%
	padding: 2rem 2rem
	background: $accent
	display: flex
	flex-direction: column
	align-items: center
	p
		font-size: 22px
		font-family: $nav-font
		margin: 0
	a
		font-size: 28px
		color: #fff
		text-decoration: underline
		font-family: $nav-font
		cursor: pointer
		@include md
			font-size: 22px
		@include sm
			font-size: 18px
//.order-project
//	display: flex
//	justify-content: center
//	flex-direction: column
//	align-items: center
//	height: 160px
//	padding-bottom: 2rem
//	h4
//		text-align: center


