@import "fonts"
@import "libs"
@import "vars"
@import "media"
// @import "media-queries"

*
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box
	outline: 0 !important
	box-shadow: none
	&:before, &:after
		-webkit-box-sizing: border-box
		-moz-box-sizing: border-box
		box-sizing: border-box

*::-webkit-input-placeholder
	color: #999
	opacity: 1

*:-moz-placeholder
	color: #999
	opacity: 1

*::-moz-placeholder
	color: #999
	opacity: 1

*:-ms-input-placeholder
	color: #999
	opacity: 1

//body input:focus:required:invalid,
//body textarea:focus:required:invalid
//	color: #777
//body input:required:valid,
//body textarea:required:valid
//	color: #777

html, body
    min-width: 270px
    height: 100%

html
  font-size: 10px

body
	font-size: 1.6rem
	line-height: 2
	overflow-x: auto
	background-color: #fff
	position: relative
	color: #000
	font-family: $default-font
	margin: 0
	a
		text-decoration: none
		&:hover
			text-decoration: none
	ul
		list-style: none
	img
    	max-width: 100%
    	height: auto

button
	border: none


//.horizontal-content
//  height: 100vh
//  display: flex
//  flex-direction: row
//
//.first-banner
//  background-color: $dark
//  height: 100%
//  width: 100vw

header
	position: fixed
	z-index: 10
	//background: transparent
	display: flex
	width: 100%
	justify-content: flex-end
	height: 84px
	border-bottom: 1px solid #7d7d7d
	@include md
		height: 76px
	@include sm
		height: 60px
.logo
	width: 120px
	background-color: $accent
	position: absolute
	z-index: 19
	height: 288px
	left: 0
	@include lg
		width: 9rem
.menu-right
	display: flex
	align-items: center
	width: 70%
	justify-content: flex-end
	@include rwd(1400)
		width: 80%
	@include xl
		width: 90%
	@include lg
		width: 94%
.myMenu-list
	display: flex
	width: 100%
	justify-content: space-between
	align-items: center
	font-family: $nav-font
	text-transform: uppercase
	font-size: 18px
	@include lg
		font-size: 16px
	@include md
		display: none
	li
		padding: 0 36px
		@include rwd(1300)
			padding: 0 30px
		@include xl
			padding: 0 24px
		@include lg
			padding: 0 16px
		a
			color: #7d7d7d
	.myMenu-item
		//transition: 1s cubic-bezier(0, 0, 1, 1) 500ms
		//animation: slide-out 0.5s forwards;
	.myMenu-item.active
		position: relative
		&:before
			content: ''
			width: 100%
			height: 2px
			background-color: $accent
			position: absolute
			top: 18px
			left: 0
			//transition: all .35s ease-in-out
			//transition: 1s cubic-bezier(0, 0, 1, 1) 500ms
			//animation-duration: 3s
			//animation-name: slidein
			//animation-direction: normal
			//animation-timing-function: ease-in-out
			//animation: slide-in 0.5s forwards
			@include lg
				top: 16px
.hmbrgr-menu
	display: none
	@include md
        display: inline-block
        overflow: visible
        margin: 0
        padding: 15px 20px
        cursor: pointer
        transition-timing-function: linear
        transition-duration: .15s
        transition-property: opacity,filter
        text-transform: none
        color: inherit
        border: 0
        background-color: transparent
        .hamburger-box
            position: relative
            display: inline-block
            width: 40px
            height: 24px
            .hamburger-inner
                position: absolute
                width: 40px
                height: 2px
                transition-timing-function: ease
                transition-duration: .15s
                transition-property: transform
                background-color: $accent
                top: 50%
                display: block
                //margin-top: -2px
                &:before
                    content: ''
                    display: block
                    position: absolute
                    width: 40px
                    height: 2px
                    transition-timing-function: ease
                    transition-duration: .15s
                    transition-property: transform
                    background-color: $accent
                    transition: bottom .08s ease-out 0s,top .08s ease-out 0s,opacity 0s linear
                    top: -10px
                &:after
                    content: ''
                    display: block
                    position: absolute
                    width: 40px
                    height: 2px
                    transition-timing-function: ease
                    transition-duration: .15s
                    transition-property: transform
                    background-color: $accent
                    transition: bottom .08s ease-out 0s,top .08s ease-out 0s,opacity 0s linear
                    bottom: -10px
.hmbrgr-menu.open
    z-index: 19
    &:before
        content: ''
        display: block
        background-color: #fff
        height: 34rem
        width: 20rem
        position: absolute
        right: 120px
        top: 0
        //transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0)
        @include sm
            right: 80px
    .hamburger-inner
        &:before
            content: ''
            display: block
            top: 0
            transition: bottom .08s ease-out,top .08s ease-out,opacity 0s linear .08s
            opacity: 0
        &:after
            content: ''
            display: block
            bottom: 0
            transition: bottom .08s ease-out,top .08s ease-out,opacity 0s linear .08s
            opacity: 0
.myMenu-list.myMenu-mob
    display: flex
    flex-direction: column
    justify-content: center
    position: fixed
    top: 60px
    z-index: 20
    margin: 0
    right: 120px
    width: 20rem
    padding-left: 0
    //transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0)
    @include sm
        right: 80px
    .myMenu-item
        padding: 10px 24px
        &:before
            top: 24px


.call
	width: 120px
	background-color: $accent
	height: 100%
	display: flex
	align-items: center
	justify-content: center
	color: $dark
	font-size: 24px
	@include sm
		width: 80px

.first-banner
	.person-img_left
		background: url(../img/den_crop.png) no-repeat 50% 100%
		width: 50rem
		height: 90%
		background-size: contain
		position: absolute
		left: 0
		bottom: 0
	.person-img_right
		background: url(../img/valya_crop.png) no-repeat 0 280%
		width: 50rem
		height: 90%
		right: 0
		bottom: 0
		position: absolute
		background-size: contain
.first-banner_content
	margin-left: 30%
	padding-bottom: 10rem
	h1
		font-family: $header-font
		font-size: 84px
		color: #fff
		font-weight: normal
		line-height: normal
		margin: 0
	.first-banner_descript
		font-family: $default-font
		font-size: 22px
		color: #fff
		padding-top: 24px
		margin: 0
.section_content
	margin-left: 20%
	padding-top: 12rem
	width: 40%
.section_header
	font-family: $header-font
	font-size: 64px
	font-weight: normal
	line-height: normal
	color: $accent
	margin: 0
.section_descript
	font-family: $default-font
	font-size: 18px
	color: #000
	padding-top: 24px
	margin: 0
.services_content
	width: 80%
	margin-left: 10%
	padding: 8rem 0
	.one-service
		display: flex
		align-items: center
		padding-bottom: 10rem
		.service-icon
			width: 52px
			height: 52px
			background-color: #ccc
		.service-title
			font-family: $nav-font
			font-size: 18px
			padding-left: 2rem
.works_content
    width: 80%
    height: 100%
    padding: 14rem 0
    margin: 0 auto
    display: flex
    .first-work
        height: 100%
        width: 40%
        background-color: #ccc
    .next-works
        width: 60%
        height: 100%
        display: flex
        flex-direction: column
        .top-works
            height: 50%
            width: 100%
            display: flex
            .square-work
                height: 100%
                width: 400px
                background-color: $accent
                color: #000
            .rectangle-work
                width: 100%
                height: 100%
                background-color: #eee
        .bottom-works
            height: 50%
            width: 100%
            display: flex
            .rectangle-work
                height: 100%
                background-color: #cbbde2
                width: 100%
            .square-work
                height: 100%
                width: 400px
                background-color: #e9ecef
.team_content
	width: 80%
	margin-right: 25%
	padding: 8rem 0
.one-person
	display: flex
	flex-direction: column
	align-items: center
.team_avatar
	background-color: #cccccc
	width: 88px
	height: 88px
	border-radius: 50%
.team-title
	text-align: center
	font-size: 18px
	font-family: $nav-font
	color: #7d7d7d
.team-photo
	position: absolute
	right: -25%
	top: 10%
	width: 50%
	height: 80%
	background-color: #ccc

.contacts_content
	width: 70%
	margin-left: 25%

.contacts_descript
	color: #fff
	font-family: $nav-font
	font-size: 24px
	padding: 2rem 0
.callback-form
  width: 100%
  min-width: 254px
  height: auto
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  background-color: $accent
  margin: 0 auto
  padding: 30px 20px

.form-header
    font-family: $nav-font
    color: $dark
    font-size: 24px
    text-align: center
    margin: 0

    //font-weight: normal
.error-field
	display: block
	text-align: center
	font-size: 12px
	line-height: 14px
	margin-bottom: 10px
	color: #dd4942
.contacts_field
  margin-bottom: 25px
  width: 100%

.contacts_field-input
    display: block
    background-color: #fff
    max-width: 400px
    width: 100%
    padding: 12px 14px 10px 14px
    font-size: 14px
    transition: all .15s
.button-wrap
    display: flex
    justify-content: flex-end
    //margin-top: 3rem
.call-request
    padding: 1rem 1.8rem
    background: transparent
    font-size: 18px
    font-family: $nav-font
    color: $dark
    text-transform: uppercase


footer
	position: fixed
	z-index: 10
	background: transparent
	bottom: 0
	height: 84px
	border-top: 1px solid #7d7d7d
	width: 100%
	display: flex
	align-items: center
	justify-content: space-between
	flex-direction: row-reverse
	@include sm
		flex-direction: column
		border-top: none
	.rights
		color: #7d7d7d
		font-size: 18px
		padding: 0 52px
		@include lg
			padding: 0 30px
			font-size: 14px
		@include sm
			margin: 4px 0
		@include xs
			font-size: 12px

	.socials
		width: 47rem
		background-color: $accent
		height: 100%
		display: flex
		align-items: center
		justify-content: space-around
		@include sm
			width: 100%
		.social-link
			color: $dark
			font-size: 24px