@import "fonts"
@import "libs"
@import "vars"
@import "media"
// @import "media-queries"

*
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box
	outline: 0 !important
	box-shadow: none
	&:before, &:after
		-webkit-box-sizing: border-box
		-moz-box-sizing: border-box
		box-sizing: border-box

*::-webkit-input-placeholder
	color: #999
	opacity: 1

*:-moz-placeholder
	color: #999
	opacity: 1

*::-moz-placeholder
	color: #999
	opacity: 1

*:-ms-input-placeholder
	color: #999
	opacity: 1

//body input:focus:required:invalid,
//body textarea:focus:required:invalid
//	color: #777
//body input:required:valid,
//body textarea:required:valid
//	color: #777

html, body
	min-width: 270px
	height: 100vh
	@include xl
		min-height: 580px
html
  font-size: 10px

body
	font-size: 1.6rem
	line-height: 2
	overflow-x: auto
	background-color: #fff
	position: relative
	color: #000
	font-family: $default-font
	margin: 0

	a
		text-decoration: none
		&:hover
			text-decoration: none
	ul
		list-style: none
	img
    	max-width: 100%
    	height: auto
.logo-ybs
	display: none
.services-icons
	display: none

button
	border: none


//.horizontal-content
//  height: 100vh
//  display: flex
//  flex-direction: row
//
//.first-banner
//  background-color: $dark
//  height: 100%
//  width: 100vw

header
	position: fixed
	z-index: 10
	//background: transparent
	display: flex
	width: 100%
	justify-content: space-between
	height: 84px
	border-bottom: 1px solid #7d7d7d
	@include lg
		height: 74px
	@include md
		height: 60px
	//@include sm
	//	height: 6rem

.logo
	width: 12rem
	background-color: $accent
	position: fixed
	z-index: 19
	height: 288px
	left: 0
.logo-wrap
	position: relative
	width: inherit
	height: inherit
	img
		width: 54px
		height: auto
		position: absolute
		right: 0
		bottom: 0
		//transform: rotate(-90deg)

.lang-top
	display: flex
	align-items: center
	margin-left: 14rem
	height: 100%
	@include lg
		margin-left: 10rem
	@include sm
		margin-left: 7rem
	@include xs
		margin-left: 6rem
	.one-lang
		height: 100%
		padding: 0 6px
		font-family: $nav-font
		color: #7d7d7d
		display: flex
		align-items: center
		background: transparent
		@include lg
			padding: 0 10px
		@include xs
			padding: 0 4px
	.one-lang.active
		color: $accent
.menu-right
	display: flex
	align-items: center
	width: 70%
	justify-content: flex-end
	@include rwd(1600)
		width: 80%
	@include xl
		width: 90%
	@include lg
		width: 98%
.myMenu-list
	display: flex
	width: 100%
	justify-content: space-between
	align-items: center
	font-family: $nav-font
	text-transform: uppercase
	font-size: 18px
	@include xl
		font-size: 16px
	@include lg
		display: none
	//@include md
	//	display: none
	li
		padding: 0 36px
		@include rwd(1300)
			padding: 0 30px
		@include xl
			padding: 0 20px
		@include lg
			padding: 0 16px
		a
			color: #7d7d7d
	.myMenu-item
		white-space: nowrap
	.myMenu-item.active
		position: relative
		&:before
			content: ''
			width: 100%
			height: 2px
			background-color: $accent
			position: absolute
			top: 18px
			left: 0
			//transition: all .35s ease-in-out
			//transition: 1s cubic-bezier(0, 0, 1, 1) 500ms
			//animation-duration: 3s
			//animation-name: slidein
			//animation-direction: normal
			//animation-timing-function: ease-in-out
			//animation: slide-in 0.5s forwards
			@include xl
				top: 16px
			@include lg
				top: 12px
.hmbrgr-menu
	display: none
	@include lg
        display: inline-block
        overflow: visible
        margin: 0
        padding: 15px 20px
        cursor: pointer
        transition-timing-function: linear
        transition-duration: .15s
        transition-property: opacity,filter
        text-transform: none
        color: inherit
        border: 0
        background-color: transparent
	@include xs
		padding: 15px 10px
	.hamburger-box
		position: relative
		display: inline-block
		width: 40px
		height: 24px
		.hamburger-inner
            position: absolute
            width: 40px
            height: 2px
            transition-timing-function: ease
            transition-duration: .15s
            transition-property: transform
            background-color: $accent
            top: 50%
            display: block
            //margin-top: -2px
            &:before
                content: ''
                display: block
                position: absolute
                width: 40px
                height: 2px
                transition-timing-function: ease
                transition-duration: .15s
                transition-property: transform
                background-color: $accent
                transition: bottom .08s ease-out 0s,top .08s ease-out 0s,opacity 0s linear
                top: -10px
            &:after
                content: ''
                display: block
                position: absolute
                width: 40px
                height: 2px
                transition-timing-function: ease
                transition-duration: .15s
                transition-property: transform
                background-color: $accent
                transition: bottom .08s ease-out 0s,top .08s ease-out 0s,opacity 0s linear
                bottom: -10px
.hmbrgr-menu.open
    z-index: 19
    &:before
        content: ''
        display: block
        background-color: #fff
        height: 40rem
        width: 20rem
        position: absolute
        right: 9rem
        top: 0
        //transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0)
        @include sm
            right: 80px
    .hamburger-inner
        &:before
            content: ''
            display: block
            top: 0
            transition: bottom .08s ease-out,top .08s ease-out,opacity 0s linear .08s
            opacity: 0
        &:after
            content: ''
            display: block
            bottom: 0
            transition: bottom .08s ease-out,top .08s ease-out,opacity 0s linear .08s
            opacity: 0
.myMenu-list.myMenu-mob
    display: flex
    flex-direction: column
    justify-content: center
    position: fixed
    top: 60px
    z-index: 20
    margin: 0
    right: 9rem
    width: 20rem
    padding-left: 0
    //transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0)
    @include sm
        right: 80px
    .myMenu-item
        padding: 10px 24px
        &:before
            top: 24px


.call
	width: 120px
	background-color: $accent
	height: 100%
	display: flex
	align-items: center
	justify-content: center
	color: $dark
	font-size: 24px
	@include lg
		width: 9rem
	@include sm
		width: 8rem
	@include xs
		width: 6rem
.first-banner
	.person-img_left
		background: url(../img/valya_black.png) no-repeat 0 100%
		width: 50rem
		height: 90%
		background-size: contain
		position: absolute
		bottom: -4%
		left: 5%
		@include rwd(1600)
			left: 0
			bottom: -3%
			width: 40rem
			background-position: 100% 100%
		@include rwd(1300)
			left: 5%
			bottom: -5%
			width: 28%
		@include xl
			bottom: -6%
		@include lg
			width: 30%
		@include md
			bottom: -7%
	.person-img_right
		background: url(../img/DSC_2229.png) no-repeat 0 50%
		width: 50rem
		height: 90%
		right: 2%
		bottom: 0
		position: absolute
		background-size: contain
		@include rwd(1600)
			right: 5%
			bottom: -2%
			background-position: 100% 100%
			width: 40rem
		@include rwd(1300)
			width: 28%
			bottom: -5%
		@include xl
			bottom: 0
		@include lg
			width: 30%
		@include md
			bottom: -7%
.first-banner_content
	margin-left: 36%
	padding-bottom: 10rem
	@include rwd(1600)
		margin-left: 32%
	@include rwd(1300)
		margin-left: 36%
		padding-bottom: 5rem
	@include lg
		margin-left: 34%
		padding-bottom: 0
	//@include md
	//	margin-left: 30%
	h1
		font-family: $header-font
		font-size: 100px
		color: #fff
		font-weight: normal
		line-height: normal
		margin: 0
		@include rwd(1300)
			font-size: 84px
		@include xl
			font-size: 70px
		@include lg
			font-size: 64px
		@include md
			font-size: 44px
	.first-banner_descript
		font-family: $default-font
		font-size: 22px
		color: #fff
		padding-top: 24px
		margin: 0
		@include rwd(1300)
			font-size: 18px
		@include lg
			width: 50%
		@include md
			font-size: 16px
			width: 60%
.section_content
	margin-left: 20%
	padding-top: 10rem
	width: 40%
	@include rwd(1300)
		width: 50%
	@include xl
		//padding-top: 9rem
	@include lg
		width: 80%
		margin-left: 14%
	@include md
		margin-left: 16%
		//width: 80%
	@include sm
		padding-top: 7rem
		margin-left: 18%
.section_header
	font-family: $header-font
	font-size: 64px
	font-weight: normal
	line-height: normal
	color: $accent
	margin: 0
	@include xl
		font-size: 48px
	@include md
		font-size: 36px
	@include sm
		font-size: 28px
		padding-left: 1rem
	@include xs

		font-size: 26px
		line-height: 1.5
.section_descript
	font-family: $default-font
	font-size: 18px
	color: #000
	padding-top: 24px
	margin: 0
	@include lg

	@include md
		padding-top: 18px
	@include sm
		font-size: 16px
		padding-left: 1rem
	@include xs
		//padding-left: 1rem
.services_content
	width: 80%
	margin-left: 10%
	padding: 6rem 0
	margin-bottom: 84px
	@include rwd(1400)
		padding: 2rem 0 8.4rem
	@include xl
		width: 90%
		margin: 0 auto
	@include lg
		width: 96%
	@include md
		padding: 2rem 0
	@include sm
		width: 70%
	@include xs
		padding: 1rem 0
	.one-service
		display: flex
		align-items: center
		padding-bottom: 4rem
		@include rwd(1400)
			padding-bottom: 0
		@include xl
			padding: 0 8px 10px
		@include lg
			//padding: 0 8px
		.service-icon
			width: 52px
			height: 52px
			svg
				width: 52px
				height: 52px
				@include lg
					width: 40px
					height: 40px
			@include lg
				width: 42px
				height: 42px
		.service-title
			font-family: $nav-font
			font-size: 18px
			padding-left: 2rem
			color: #7d7d7d
			margin: 0
			line-height: 1.4
			@include xl
				font-size: 16px
				padding-left: 1.4rem
			@include lg
				padding-left: 1rem
			@include md
				font-size: 14px
.works_content
	width: 80%
	height: 100%
	padding: 10rem 0
	margin: 0 auto
	display: flex
	@include lg
		width: 68%
		flex-direction: column
	@include sm
		width: 70%
		height: auto
	.first-work
		height: 100%
		width: 40%
		background-color: #ccc
		@include lg
			width: 100%
			height: 40%
			min-height: 18rem
		@include sm
			//width: 60%
	.next-works
		width: 60%
		height: 100%
		display: flex
		flex-direction: column
		@include lg
			width: 100%
		.top-works
			height: 50%
			width: 100%
			display: flex
			@include lg
				height: 40%
				min-height: 18rem
			@include sm
				flex-direction: column
			.square-work
				height: 100%
				width: 400px
				background-color: $accent
				color: #000
				@include sm
					width: 100%
					min-height: 10rem
			.rectangle-work
				width: 100%
				height: 100%
				background-color: #7e7e7e
				@include sm
					min-height: 18rem
		.bottom-works
			height: 50%
			width: 100%
			display: flex
			@include lg
				height: 40%
				min-height: 18rem
			@include sm
				flex-direction: column
			.rectangle-work
				height: 100%
				background-color: #7e7e7e
				width: 100%
				@include sm
					min-height: 18rem
			.square-work
				height: 100%
				width: 400px
				background-color: #cecece
				@include sm
					width: 100%
					min-height: 18rem
.work-descript_wrapper
	display: flex
	flex-direction: column
	justify-content: center
	&:last-child
		align-items: end
.works-header
	font-family: $header-font
	color: $dark
	font-size: 40px
	margin: 0
	padding: 1rem
	line-height: 1.6
	@include lg
		font-size: 32px
	@include sm
		font-size: 28px
.onework-header
	font-family: $default-font
	font-size: 24px
	line-height: 1.4
	color: #fff
	padding: 1rem 0 1rem 1rem
	margin: 0
	@include lg
		font-size: 20px
		padding: 1rem 0 5px 1rem
	@include sm
		font-size: 16px
.works-descript
	color: #fff
	font-size: 18px
	padding: 1rem 1rem 0 1rem
	margin: 0
	opacity: .8
	@include lg
		font-size: 14px
		padding: 5px 1rem 0
//.work-link_wrapp
//	display: flex
//	align-items: flex-end
//	width: 100%
.work-link
	color: #fff
	font-family: $default-font
	font-size: 18px
	text-decoration: underline
	padding: 0 0 2rem 1rem
	opacity: .8
	@include lg
		font-size: 14px
		padding-bottom: 1rem



.team-descript
	color: #fff
	@include lg
		width: 90%
	@include md
		width: 80%
	@include sm
		width: 90%

.team_content
	width: 70%
	margin-right: 30%
	margin-left: 5%
	padding: 8rem 0
	justify-content: space-between
	@include xl
		padding: 4rem 0
	@include lg
		padding: 2rem 0
	@include md
		margin: 0 auto
		//width: 60%
		justify-content: flex-start
		padding: 0 0 10rem
	@include xs
		justify-content: center

.one-person
	display: flex
	flex-direction: column
	align-items: center
	@include md
		margin: 0 6px
	span
		font-size: 14px
		font-family: $default-font
		line-height: normal
		text-align: center
		color: #7d7d7d
		@include lg
			font-size: 12px
.team_avatar
	background-color: #cecece
	width: 88px
	height: 88px
	border-radius: 50%
	img
		border-radius: 50%
	@include lg
		width: 64px
		height: 64px
	@include md
		margin: 1rem 2.7rem 0


.team-title
	text-align: center
	font-size: 18px
	font-family: $nav-font
	color: #7d7d7d
	margin: 0
	padding-top: 6px
	@include xl
		font-size: 16px
	@include lg
		line-height: 1.5

.team-photo
	position: absolute
	right: -23%
	top: 15%
	width: 46%
	height: 70%
	background-color: #ccc
	@include xl
		height: 60%
		top: 20%
	@include md
		display: none
.contacts_content
	width: 70%
	margin-left: 25%
	@include md
		margin-left: 14%
		width: 76%
	@include sm
		margin-left: 0
		width: 100%
.contacts-left
	@include sm
		padding-top: 0
		margin-left: 14%
.contacts_descript
	color: #000
	font-family: $nav-font
	font-size: 24px
	padding: 2rem 0

	p
		margin: 0 1rem 1rem
	@include md
		font-size: 18px
	@include sm
		padding: 1rem 0 0 0
		font-size: 17px
		display: flex
		width: 90%
		flex-wrap: wrap
	@include xs
		padding-left: 1rem
//.contacts-right
//	@include sm
//		width: 60%

.callback-form
	width: 100%
	min-width: 254px
	height: auto
	display: flex
	flex-direction: column
	justify-content: center
	align-items: center
	background-color: $accent
	margin: 0 auto
	padding: 30px 20px
	@include lg
		//padding: 20px
	@include md
		padding: 20px
	@include sm
		padding: 14px 20px

.form-header
	font-family: $nav-font
	color: $dark
	font-size: 24px
	text-align: center
	margin: 0
	@include lg
		font-size: 18px
	@include md


    //font-weight: normal
.error-field
	display: block
	text-align: center
	font-size: 12px
	line-height: 14px
	margin-bottom: 10px
	color: #dd4942
.contacts_field
  margin-bottom: 25px
  width: 100%
  display: flex
  justify-content: center

.contacts_field-input
    display: block
    background-color: #fff
    max-width: 400px
    width: 100%
    padding: 12px 14px 10px 14px
    font-size: 14px
    transition: all .15s
.button-wrap
    display: flex
    justify-content: flex-end
    max-width: 400px
    //margin-top: 3rem
    @include rwd(1400)
        width: 100%
.call-request
	padding: 1rem 0 1rem 1.8rem
	background: transparent
	font-size: 18px
	font-family: $nav-font
	color: $dark
	text-transform: uppercase
	@include sm
		padding: 0 0 0 1.8rem


footer
	position: fixed
	z-index: 10
	background: transparent
	bottom: 0
	height: 84px
	border-top: 1px solid #7d7d7d
	width: 100%
	display: flex
	align-items: center
	justify-content: space-between
	flex-direction: row-reverse
	@include lg
		height: 74px
	@include md
		height: 60px
	@include sm
		flex-direction: column
		border-top: none
	.rights
		color: #7d7d7d
		font-size: 18px
		padding: 0 52px
		@include lg
			padding: 0 30px
			font-size: 14px
		@include sm
			margin: 0
			background-color: $accent
			color: $dark
			width: 100%
			text-align: center
		@include xs
			font-size: 12px

	.socials
		width: 47rem
		background-color: $accent
		height: 100%
		display: flex
		align-items: center
		justify-content: space-around
		@include lg
			width: 40rem
		@include sm
			width: 100%
		.social-link
			color: $dark
			font-size: 24px
			@include sm
				font-size: 18px

.callback-modal
	display: none
.callback-modal.active
	//display: none
	position: absolute
	background-color: $dark
	width: 100%
	height: 100%
	z-index: 100
.callback-modal_content
	//position: relative
	height: 100%
	//margin: 0 auto
	width: 100%
	display: flex
	align-items: center
	justify-content: center
	.callback-form
		position: relative
		//position: absolute
		//top: 30%
		width: 50%
		.close-callback
			position: absolute
			top: 6px
			right: 6px
			color: $dark
			background: transparent



